CapaGuiConsumoService/Connected Services/ServiceMantenedorCliente/WebServiceMantenedorCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarClienteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarClienteServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="retornarClienteService">
        <s:complexType />
      </s:element>
      <s:element name="retornarClienteServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornarClienteServiceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornaPosicionClienteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pos" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornaPosicionClienteServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornaPosicionClienteServiceResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarClienteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarClienteServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarClienteServiceResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarClienteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarClienteServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="actualizarClienteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarClienteServiceResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarClienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:insertarClienteService" />
  </wsdl:message>
  <wsdl:message name="insertarClienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:insertarClienteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="retornarClienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:retornarClienteService" />
  </wsdl:message>
  <wsdl:message name="retornarClienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:retornarClienteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="retornaPosicionClienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:retornaPosicionClienteService" />
  </wsdl:message>
  <wsdl:message name="retornaPosicionClienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:retornaPosicionClienteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="buscarClienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:buscarClienteService" />
  </wsdl:message>
  <wsdl:message name="buscarClienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:buscarClienteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarClienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarClienteService" />
  </wsdl:message>
  <wsdl:message name="eliminarClienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarClienteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarClienteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarClienteService" />
  </wsdl:message>
  <wsdl:message name="actualizarClienteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarClienteServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMantenedorClienteSoap">
    <wsdl:operation name="insertarClienteService">
      <wsdl:input message="tns:insertarClienteServiceSoapIn" />
      <wsdl:output message="tns:insertarClienteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retornarClienteService">
      <wsdl:input message="tns:retornarClienteServiceSoapIn" />
      <wsdl:output message="tns:retornarClienteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retornaPosicionClienteService">
      <wsdl:input message="tns:retornaPosicionClienteServiceSoapIn" />
      <wsdl:output message="tns:retornaPosicionClienteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarClienteService">
      <wsdl:input message="tns:buscarClienteServiceSoapIn" />
      <wsdl:output message="tns:buscarClienteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarClienteService">
      <wsdl:input message="tns:eliminarClienteServiceSoapIn" />
      <wsdl:output message="tns:eliminarClienteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarClienteService">
      <wsdl:input message="tns:actualizarClienteServiceSoapIn" />
      <wsdl:output message="tns:actualizarClienteServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMantenedorClienteSoap" type="tns:WebServiceMantenedorClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarClienteService">
      <soap:operation soapAction="http://tempuri.org/insertarClienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarClienteService">
      <soap:operation soapAction="http://tempuri.org/retornarClienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaPosicionClienteService">
      <soap:operation soapAction="http://tempuri.org/retornaPosicionClienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarClienteService">
      <soap:operation soapAction="http://tempuri.org/buscarClienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarClienteService">
      <soap:operation soapAction="http://tempuri.org/eliminarClienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarClienteService">
      <soap:operation soapAction="http://tempuri.org/actualizarClienteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMantenedorClienteSoap12" type="tns:WebServiceMantenedorClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarClienteService">
      <soap12:operation soapAction="http://tempuri.org/insertarClienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarClienteService">
      <soap12:operation soapAction="http://tempuri.org/retornarClienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaPosicionClienteService">
      <soap12:operation soapAction="http://tempuri.org/retornaPosicionClienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarClienteService">
      <soap12:operation soapAction="http://tempuri.org/buscarClienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarClienteService">
      <soap12:operation soapAction="http://tempuri.org/eliminarClienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarClienteService">
      <soap12:operation soapAction="http://tempuri.org/actualizarClienteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMantenedorCliente">
    <wsdl:port name="WebServiceMantenedorClienteSoap" binding="tns:WebServiceMantenedorClienteSoap">
      <soap:address location="https://localhost:44316/WebServiceMantenedorCliente.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMantenedorClienteSoap12" binding="tns:WebServiceMantenedorClienteSoap12">
      <soap12:address location="https://localhost:44316/WebServiceMantenedorCliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>