CapaGuiConsumoService/Connected Services/ServiceMantenedorProveedor/WebServiceMantenedorProveedor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarProveedorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proveedor" type="tns:Proveedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Proveedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Rol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_proveedor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarProveedorServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="retornarProveedorService">
        <s:complexType />
      </s:element>
      <s:element name="retornarProveedorServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornarProveedorServiceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornaPosicionProveedorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pos" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornaPosicionProveedorServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornaPosicionProveedorServiceResult" type="tns:Proveedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarProveedorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarProveedorServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarProveedorServiceResult" type="tns:Proveedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarProveedorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarProveedorServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="actualizarProveedorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proveedor" type="tns:Proveedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarProveedorServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="buscarRolProveedorService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarRolProveedorServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarRolProveedorServiceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarProveedorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:insertarProveedorService" />
  </wsdl:message>
  <wsdl:message name="insertarProveedorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:insertarProveedorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="retornarProveedorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:retornarProveedorService" />
  </wsdl:message>
  <wsdl:message name="retornarProveedorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:retornarProveedorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="retornaPosicionProveedorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:retornaPosicionProveedorService" />
  </wsdl:message>
  <wsdl:message name="retornaPosicionProveedorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:retornaPosicionProveedorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="buscarProveedorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:buscarProveedorService" />
  </wsdl:message>
  <wsdl:message name="buscarProveedorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:buscarProveedorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarProveedorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarProveedorService" />
  </wsdl:message>
  <wsdl:message name="eliminarProveedorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarProveedorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarProveedorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarProveedorService" />
  </wsdl:message>
  <wsdl:message name="actualizarProveedorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarProveedorServiceResponse" />
  </wsdl:message>
  <wsdl:message name="buscarRolProveedorServiceSoapIn">
    <wsdl:part name="parameters" element="tns:buscarRolProveedorService" />
  </wsdl:message>
  <wsdl:message name="buscarRolProveedorServiceSoapOut">
    <wsdl:part name="parameters" element="tns:buscarRolProveedorServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMantenedorProveedorSoap">
    <wsdl:operation name="insertarProveedorService">
      <wsdl:input message="tns:insertarProveedorServiceSoapIn" />
      <wsdl:output message="tns:insertarProveedorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retornarProveedorService">
      <wsdl:input message="tns:retornarProveedorServiceSoapIn" />
      <wsdl:output message="tns:retornarProveedorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retornaPosicionProveedorService">
      <wsdl:input message="tns:retornaPosicionProveedorServiceSoapIn" />
      <wsdl:output message="tns:retornaPosicionProveedorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarProveedorService">
      <wsdl:input message="tns:buscarProveedorServiceSoapIn" />
      <wsdl:output message="tns:buscarProveedorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarProveedorService">
      <wsdl:input message="tns:eliminarProveedorServiceSoapIn" />
      <wsdl:output message="tns:eliminarProveedorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarProveedorService">
      <wsdl:input message="tns:actualizarProveedorServiceSoapIn" />
      <wsdl:output message="tns:actualizarProveedorServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarRolProveedorService">
      <wsdl:input message="tns:buscarRolProveedorServiceSoapIn" />
      <wsdl:output message="tns:buscarRolProveedorServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMantenedorProveedorSoap" type="tns:WebServiceMantenedorProveedorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarProveedorService">
      <soap:operation soapAction="http://tempuri.org/insertarProveedorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarProveedorService">
      <soap:operation soapAction="http://tempuri.org/retornarProveedorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaPosicionProveedorService">
      <soap:operation soapAction="http://tempuri.org/retornaPosicionProveedorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarProveedorService">
      <soap:operation soapAction="http://tempuri.org/buscarProveedorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarProveedorService">
      <soap:operation soapAction="http://tempuri.org/eliminarProveedorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarProveedorService">
      <soap:operation soapAction="http://tempuri.org/actualizarProveedorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarRolProveedorService">
      <soap:operation soapAction="http://tempuri.org/buscarRolProveedorService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMantenedorProveedorSoap12" type="tns:WebServiceMantenedorProveedorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarProveedorService">
      <soap12:operation soapAction="http://tempuri.org/insertarProveedorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarProveedorService">
      <soap12:operation soapAction="http://tempuri.org/retornarProveedorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaPosicionProveedorService">
      <soap12:operation soapAction="http://tempuri.org/retornaPosicionProveedorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarProveedorService">
      <soap12:operation soapAction="http://tempuri.org/buscarProveedorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarProveedorService">
      <soap12:operation soapAction="http://tempuri.org/eliminarProveedorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarProveedorService">
      <soap12:operation soapAction="http://tempuri.org/actualizarProveedorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarRolProveedorService">
      <soap12:operation soapAction="http://tempuri.org/buscarRolProveedorService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMantenedorProveedor">
    <wsdl:port name="WebServiceMantenedorProveedorSoap" binding="tns:WebServiceMantenedorProveedorSoap">
      <soap:address location="https://localhost:44316/WebServiceMantenedorProveedor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMantenedorProveedorSoap12" binding="tns:WebServiceMantenedorProveedorSoap12">
      <soap12:address location="https://localhost:44316/WebServiceMantenedorProveedor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>